.banner_conteiner {
    width: 100%;
    height: auto;
}

.conteiner {
    width: 1124px;
    height: auto;
    margin: auto;
}

.head {
    width: 100%;
    height: 135vh;
    position: relative;
    overflow: hidden;
    margin: auto;

}

.body {
    width: 100%;
    height: 150VH;
    position: absolute;
    color: white;
    text-align: center;
}

.head .im_img {
    width: 100%;
    height: 150vh;
    object-fit: cover;
    filter: brightness(60%);
    position: absolute;
}

.img_bottom {
    width: 500px;
    margin: auto;
    margin-top: 6vh;
}

.img_bottom img {
    width: 100%;
    object-fit: contain;
    filter: none;

}

.banner_conteiner button {
    width: 150px;
    height: 45px;
    background-color: #f6a525;
    color: white;
    border: none;
    border-radius: 40px;
    transition: .3s linear;
}

.banner_conteiner button:hover {
    box-shadow: 0px 0px 36px 6px #f6a525;
}

.burder {
    background-color: #f8f9fa;
}

.body h1 {
    font-size: 60px;
    font-weight: 800;
}

.body p {
    width: 800px;
    margin: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
}

.head5 {
    text-align: center;
}

.body1 {
    width: 100%;
    height: 160vh;
    margin-top: 60px;
    margin: auto;
}

.img3 {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.head5 {
    width: 600px;
    margin: 50px auto;
}

.head5 h4 {
    color: #f6a525;
}

.head5 h1 {
    font-size: 50px;
    color: #333333;
}

.head5 p {
    color: #333333;
}

.body2 img {
    width: 550px;
    object-fit: cover;
    box-shadow: 0px 0px 50px -25px;
}

.body2 {
    text-align: center;
    margin: 20px 0px;
}

.body2 button {
    margin-top: 20px;
}

.body2 h1 {
    margin-top: 20px;
    color: #333333;
}

.leg {
    width: 100%;
    height: 8vh;
    color: white;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
}

.head button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #f6a525;
    color: white;
    transition: .5s;
}

.head button:hover {
    box-shadow: 0 0 20px 5px #f6a525;
}

.body2 button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #f6a525;
    color: white;
    transition: .5s;
}

.body2 button:hover {
    box-shadow: 0 0 20px 5px #f6a525;
}

@media (max-width:1124px) {
    .conteiner {
        width: 100%;
    }

    .img3 {
        justify-content: center;
        align-items: center;
    }

    .head {
        width: 100%;
        height: 100vh;
    }

    .body p {
        width: 100%;
    }
}

@media (max-width:600px) {
    .head5 {
        width: 80%;
        text-align: center;
    }

    .body5 {
        width: 200PX;
    }

    .head {
        width: 100%;
        height: 120vh;
    }

    .body .body p {
        width: 80%;
        font-size: 15px;
        text-align: center;
    }

    .img_bottom {
        width: 400px;
        position: absolute;
        margin: auto;
    }

    .body h1 {
        width: 80%;
        font-size: 40px;
        text-align: center;
        margin: auto;
    }

    .img3 .body2 img {
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .leg {
        margin-top: 120px;
    }
}